@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 font-sans text-gray-900;
  }
}

/* Toys website ke liye thoda playful touch */
.nav-link {
  @apply text-gray-700 hover:text-orange-500 font-medium transition-colors duration-200;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes morph {

  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.animate-morph {
  animation: morph 8s linear infinite;
}

@keyframes float-slow {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-30px) rotate(10deg);
  }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}


/* @keyframes wave-move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-wave {
  animation: wave-move 15s linear infinite;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  /* Half translate is key for seamless loop */
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/* Jab mouse upar aaye to ruk jaye (Optional) */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

@keyframes float-particle {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(20px, -20px);
  }
}

.animate-particle {
  animation: float-particle 8s ease-in-out infinite;
}